.container {
  padding-top: $global-padding;
}

.custom_attribute {
  background-color: #FFF3D8 !important;
}

.custom_section {
  background-color: #aba9bf !important;
}

.text-centered {
  text-align: center;
}

.colored {
  background-color: #FFF3D8;
  font-weight: bold;
}

.primary_colored {
  background-color: #aba9bf;
  font-weight: bold;
}