.edit_link, .destroy_link {
  width: 50px,
}

.literature__resource-type {
  width: 75px;
}

.literature__link {
  width: 200px;
}

.program-module__number {
  width: 50px;
}

.program-module__name {
  width: 100px;
}

.competence__cipher {
  width: 50px;
}

.skill__level {
  width: 100px;
}
